﻿<!-- Content Header (Page header) -->
<section class="content-header" style="padding-top:0px;">
    <h1 style="width: 70%;float: left;line-height: 48px;">
        Modulo de desperdicio
        <small>Ingreso</small>
    </h1>
    <img src="~/Images/Logo plasticel.png" style="width: 100px;margin-left: 20%;" />
</section>
<section class="content">
    <div class="row col-md-offset-2 col-md-8" style="margin-top:0px;">
        <div class="box box-primary no-padding" style="display:grid">
            <div class="box-header">
                <h3 class="box-title no-padding paddingtop5">CAPTURA DE DESPERDICIO</h3>
            </div>
            <div class="box-body" >
                <div class="row">
                    <div class="col-md-4">
                        <label>JOB</label>
                        <input id="ordenproduccion" class="input" placeholder="JOB" onkeyup="consultarOrdenProduccion()"/>
                    </div>
                    <div class="col-md-4">
                        <label>Recurso</label>
                        <input id="recursodes" class="input" placeholder="Recurso" />
                    </div>
                    <div class="col-md-4">
                        <label>ID Operación</label>
                        <input id="codigoprocesodes" class="input" placeholder="ID Operación" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Parte</label>
                        <input id="codigoproductodes" class="input" placeholder="Parte" disabled/>
                    </div>
                    <div class="col-md-8">
                        <label>Referencia</label>
                        <input id="productodes" class="input" placeholder="Referencia" disabled/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Cliente</label>
                        <input id="nombreclientedes" class="input" placeholder="Cliente" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>ID Empleado</label>
                        <input id="codigoempleadodes" class="input" placeholder="ID Empleado" onkeyup="consultarempleadodes()" />
                    </div>
                    <div class="col-md-8">
                        <label>Empleado</label>
                        <input id="nombreempleadodes" class="input" placeholder="Empleado" disabled />
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-md-4">
                        <label>Tara</label>
                        <input id="tarades" class="input" placeholder="Tara" type="number" disabled />
                    </div>*@
                    <div class="col-md-4">
                        <label>Peso bruto</label>
                        <input id="pesobrutodes" class="input" placeholder="Peso bruto" disabled type="number" />
                    </div>
                    @*<div class="col-md-4">
                        <label>Peso neto</label>
                        <input id="pesonetodes" class="input" placeholder="Peso Neto" disabled type="number" />
                    </div>*@
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Metros/Unidades</label>
                        <input id="metrosdes" class="input" placeholder="Metros/Unidades" type="number" />
                    </div>
                    <div class="col-md-4">
                        <label>Razón desperdicio</label>
                        <input id="motivodesperdiciodes" class="input" placeholder="Razón desperdicio" />
                    </div>
                    <div class="col-md-4">
                        <label>N° copias</label>
                        <input id="numerocopiasdes" class="input" placeholder="N° copias" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <br />
                        <button class="btn btn-primary" onclick="imprimirdes()">
                            <i class="fa fa-print"></i>
                            Imprimir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    timeCapture = @ViewData["timeCapture"];
</script>
@Styles.Render("~/Content/ingresoproddesp")
@Scripts.Render("~/bundles/desperdicio")
<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="~/Scripts/toastr.min"></script>
