﻿<!-- Content Header (Page header) -->
<section class="content-header" style="padding-top:0px;">
    <h1 style="width: 70%;float: left;line-height: 48px;">
        Captura de producción y desperdicio
        <small>Ingreso</small>
    </h1>
    <img src="~/Images/LogoIcomallas.png" style="width: 100px;margin-left: 20%;" />
</section>
<section class="content">
    <div class="row col-md-12">
        <p style="color: Red; text-align: center" id="txtError">
        </p>
    </div>

    <div class="row col-md-offset-1 col-md-10" style="margin-top:0px; margin-bottom:5px;">
        <div id="GridResumenOrden"></div>
    </div>
    <br />
    <br />
    <div class="row col-md-offset-1 col-md-10" style="margin-top:0px;">
        <div class="box box-primary no-padding">
            <div class="box-header">
                <h3 class="box-title no-padding paddingtop5">INICIO DE TURNO</h3>
            </div>
            <div class="box-body " style="padding-top:0px">
                <div class="row">
                    <div class="col-md-4">
                        <label style="font-size: 17px;">Fecha:</label>
                        <input id="datepicker" />
                    </div>
                    <div class="col-md-4">
                        <label style="font-size: 17px;">Orden producción:</label>
                        <input id="ordenproduccion" class="form-control" placeholder="Orden producción" onkeyup="limpiar()" />
                    </div>
                    <div class="col-md-4">
                        <br />
                        <button type="button" class="btn btn-primary btn-lg" id="btnBuscarOP" onclick="buscarOP();" title="Buscar orden producción">
                            <i class="fa fa-search"></i>
                            Buscar
                        </button>
                        <button type="button" class="btn btn-primary btn-lg" onclick="ActualizarOP();" title="Actualizar">
                            <i class="fa fa-refresh"></i>
                            Actualizar
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label style="font-size: 17px;">Recurso:</label>
                        <input id="recurso" class="ddl" />
                    </div>
                    <div class="col-md-6">
                        <label style="font-size: 17px;">Operario:</label>
                        <input id="operario" class="form-control" disabled placeholder="Operario" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label style="font-size: 17px;">Turno:</label>
                        <input id="turno" class="form-control" disabled placeholder="Turno" />
                    </div>
                    <div class="col-md-6">
                        <label style="font-size: 17px;">Referencia:</label>
                        <input id="referencia" class="ddl" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-offset-1 col-md-10" style="margin-top:-35px;">
        <div class="col-md-12" style="background-color:blue" id="diveventocolor">
            <h3 class="box-title no-padding" style="color:white" id="lblevento"></h3>
        </div>
    </div>
    <div class="row col-md-offset-1 col-md-10" style="margin-top:-15px;">
        <div class="box box-primary no-padding paddingtop5">
            <div class="box-header">
                <h3 class="box-title no-padding">TIPO DE MATERIAL:</h3>
            </div>
            <div class="box-body" style="padding-top:0px;">
                <div class="row">
                    <div class="col-md-3">
                        <label style="font-size: 17px;">Evento:</label>
                        <input class="ddl" id="produccion" onchange="TipoDeProduccion()" />
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 17px;">Ancho:</label>
                        <input id="ancho" onkeypress="return isNumberKey(event)" onchange="" class="form-control text-right" placeholder="Ancho" maxlength="6" disabled />
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 17px;">Largo:</label>
                        <input id="largo" onkeypress="return isNumberKey(event)" onchange="" class="form-control text-right" placeholder="Largo" maxlength="6" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label style="font-size: 17px;">Peso por m2:</label>
                        <input id="peso" class="form-control text-right" placeholder="Peso" disabled />
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 17px;">Peso en el sensor:</label>
                        <input id="pesoneto" class="form-control text-right" placeholder="Peso (bascula)" onchange="calculoPeso();" disabled />
                    </div>
                    <div class="col-md-3 displaynone" id="checkVariosTramos">
                        <label style="font-size:17px;">Varios Tramos</label>
                        <input type="checkbox" id="CheckTramos" onchange="ValidarTramos()"/>
                    </div>
                    @*<div class="col-md-3">
                        <label style="font-size: 17px;">Producción:</label>
                        <input id="metros" onkeypress="return isNumberKey(event)" class="input text-right" placeholder="Metros o unidades" maxlength="6" />
                    </div>*@
                    <div class="col-md-3" id="contenedorrepeticiones" style="display:none">
                        <label style="font-size: 17px;">Repeticiones:</label>
                        <input id="repetiones" class="input text-right" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 displaynone" id="variosTramos">
                        <label id="LblTotalTramos">Total de tramos:</label>
                        <input id="InputTotalTramos" class="input text-left" placeholder="Total Tramos" />
                    </div>
                        <div class="col-md-3 displaynone" id="tramosAPesar">
                            <label>Tramos a pesar:</label>
                            <input id="InputTramosAPesar" class="input text-left" placeholder="Tramos a Pesar" onchange="ValidarCantidadTotalTramos()"/>
                        </div>
                </div>
                <div class="row" >
                    <div class="col-md-3 displaynone" id="desperdicio">
                        <label style="font-size: 17px;">Motivo desperdicio:</label>
                        <input class="ddl" id="motdesperdicio" onchange="checkRetal()" />
                    </div>
                    <div class="col-md-3" id="contenedorprocesosiguiente" style="display:none">
                        <label style="font-size: 17px;">Proceso siguiente:</label>
                        <select id="procesosiguiente" class="form-control">
                            <option value="" class=""></option>
                            <option value="EPT" class="">EPT</option>
                            <option value="Otro" class="">Sellado</option>
                        </select>
                    </div>
                </div>
                <div class="row" id="contenedordevoluciones" style="display:none">
                    <div class="col-md-1">
                        <label style="font-size: 17px;">Secuencia</label>
                        <input class="ddl" id="secuenciamaterial" disabled/>
                    </div>
                    <div class="col-md-1">
                        <label style="font-size: 17px;">Assembly</label>
                        <input class="ddl" id="assembly" disabled />
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: 17px;">Material</label>
                        <input class="ddl" id="materialemitido" disabled/>
                    </div>
                    <div class="col-md-5">
                        <label style="font-size: 17px;">Descripcion material:</label>
                        <input class="ddl" id="materialdescripcion" disabled />
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 17px;">Lote</label>
                        <input class="ddl" id="lote" disabled />
                    </div>
                    <div class="col-md-3">
                        <label style="font-size: 17px;">Nota</label>
                        <textarea class="ddl" id="notadevolucion" rows="2" maxlength="50"></textarea>
                    </div>
                </div>
                <div class="row text-center margintop10">
                    <div>
                        <button class="btn btn-primary displaynone btn-lg" id="btnGuardar" onclick="InformarOrdenTerminada()">
                            <i class="fa fa-floppy-o"></i>
                            Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   


    <!-- Modal confirmacion de impresión -->
    <div class="modal fade" id="ModalConfirmacion" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3C8DBC;">
                    <h4 class="modal-title" style="font-weight: bold; color: white;" id="TipImpresionComfirmacion">Imprmir</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <a style="font-size: 20px; color: black; font-weight: bold;">¿Desea imprimir la etiqueta?....</a>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" onclick="ConfirmarImprimir('Si')">Si</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-warning" onclick="ConfirmarImprimir('No')">No</button>
                        </div>
                        <div class="col-md-4">
                            <select id="OpcionDeImpresion">
                                <option value="Extrusion">Extrusion</option>
                                <option value="Flexografia">Flexografia</option>
                                <option value="Laminado">Laminado</option>
                                <option value="Corte">Corte</option>
                                @*<option value="SelladoPT">SelladoPT</option>
                                <option value="SelladoPQ">SelladoPQ</option>*@
                                <option value="CorteIngles">Corte (Ingles)</option>
                                <option value="Sellado">Sellado</option>
                                <option value="SelladoIngles">Sellado (Ingles)</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal mensaje de impresión -->
    <div class="modal fade" id="ModalMensaje" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3C8DBC;">
                    <h4 class="modal-title" style="font-weight: bold; color: white;" id="TipImpresionComfirmacion">Imprimiendo</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="~/Controllers/Reportes/ImgReports.gif" class="img-responsive" />
                        </div>
                        <br /><div class="col-md-6">
                            <a style="font-size: 20px; color: black; font-weight: bold;">Imprimiendo Documento....</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal de impresión -->
    <div class="modal fade" id="ModalImprimirProduccion" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="width: 800px;">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3C8DBC;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-shadow: 0 1px 0 #FFF; color: #FFFFFF; opacity: 100;"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="font-weight: bold; color: white;" id="tituloModalImprimirProduccion"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label >Consecutivo</label>
                            <input style="width:50px; text-align:center" id="consecutivo">
                        </div>
                        <div class="col-md-4">
                            <label>Observaciones:</label>
                            <textarea id="ObservacionesProduccion" maxlength="200" style="width:300px;height:200px;"></textarea>

                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="row text-center margintop10">
                        <button type="button" class="btn btn-primary" onclick="guardar(produccion)" title="Imprimir">
                            IMPRIMIR
                        </button>
                        <button type="button" class="btn btn-danger" onclick="$('#ModalImprimirProduccion').modal('hide')" title="Cancelar">
                            CANCELAR
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de impresión para ETIQUETA GENERICO -->
    <div class="modal fade" id="ModalGenerico" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="width: 800px;">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3C8DBC;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-shadow: 0 1px 0 #FFF; color: #FFFFFF; opacity: 100;"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="font-weight: bold; color: white;">ETIQUETA GENÉRICA</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-1">
                            Orden Produc:
                        </div>
                        <div class="col-md-2">
                            <input id="OrdenProduccionGenerico" disabled/>
                        </div>
                        <div class="col-md-1">
                            Fecha:
                        </div>
                        <div class="col-md-2">
                            <input id="DateGenerico" disabled />
                        </div>
                        <div class="col-md-1">
                            Cliente:
                        </div>
                        <div class="col-md-2">
                            <input id="ClienteGenerico" disabled />
                        </div>
                        <div class="col-md-1">
                            Cod Cliente:
                        </div>
                        <div class="col-md-2">
                            <input id="CodigoClienteGenerico" disabled />
                        </div>
                    </div>
                    <div class="row">
                        
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Item:
                        </div>
                        <div class="col-md-2">
                            <input id="ItemGenerico" disabled />
                        </div>
                        <div class="col-md-1">
                            Rerencia:
                        </div>
                        <div class="col-md-2">
                            <input id="ReferenciaGenerico" disabled />
                        </div>
                        <div class="col-md-1">
                            Máquina:
                        </div>
                        <div class="col-md-2">
                            <input id="MaquinaGenerico" disabled />
                        </div>
                        <div class="col-md-1">
                            Operario:
                        </div>
                        <div class="col-md-2">
                            <input id="OperarioGenerico" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Turno:
                        </div>
                        <div class="col-md-2">
                            <input id="TurnoGenerico" disabled />
                        </div>
                        <div class="col-md-1">
                            # Copias:
                        </div> 
                        <div class="col-md-2">
                            <input id="CopiasGenerico" type="number"/>
                        </div>
                    </div><br />
                    <div class="row text-center margintop10">
                        <button type="button" class="btn btn-primary" onclick="ImprimirGenerico()" title="Imprimir">
                            IMPRIMIR GENÉRICO
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de impresión para SELLADO -->
    <div class="modal fade" id="ModalSelladoImpresion" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="width: 800px;">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3C8DBC;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="text-shadow: 0 1px 0 #FFF; color: #FFFFFF; opacity: 100;"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style="font-weight: bold; color: white;">IDENTIFICACIÓN PRODUCTO TERMINADO LAMINAS</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-1">
                            Job:
                        </div>
                        <div class="col-md-2">
                            <input id="OrdenProduccionSellado" />
                        </div>
                        <div class="col-md-1 no-padding">
                            <button type="button" class="btn btn-primary no-padding buttoncolumn" id="btnBuscarOPEXT" onclick="BuscarOPImpresion()" title="Buscar orden producción">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Fecha:
                        </div>
                        <div class="col-md-2">
                            <input id="DateSellado" disabled />
                        </div>
                        <div class="col-md-1">
                            Turno:
                        </div>
                        <div class="col-md-2">
                            <input id="TurnoSellado" disabled />
                        </div>
                        <div class="col-md-1">
                            Parte:
                        </div>
                        <div class="col-md-2">
                            <input id="ItemSellado" disabled />
                        </div>
                        <div class="col-md-1">
                            Descripción:
                        </div>
                        <div class="col-md-2">
                            <input id="ReferenciaSellado" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Cliente:
                        </div>
                        <div class="col-md-2">
                            <input id="ClienteSellado" disabled />
                        </div>
                        <div class="col-md-1">
                            ID Empleado:
                        </div>
                        <div class="col-md-2">
                            <input id="OperarioSellado" disabled />
                        </div>
                        <div class="col-md-1">
                            Recurso:
                        </div>
                        <div class="col-md-2">
                            <input id="MaquinaSellado" disabled />
                        </div>
                        <div class="col-md-1">
                            Peso bruto:
                        </div>
                        <div class="col-md-2">
                            <input id="PesoBrutoSellado" disabled step="0.01" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            Consecutivo:
                        </div>
                        <div class="col-md-2">
                            <input id="ConsecutivoSellado" disabled />
                        </div>
                        <div class="col-md-1">
                            Peso neto:
                        </div>
                        <div class="col-md-2">
                            <input id="PesoNetoSellado" disabled />
                        </div>
                        <div class="col-md-1">
                            Cantidad Und:
                        </div>
                        <div class="col-md-2">
                            <input id="CantidadSellado" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            ID Cliente:
                        </div>
                        <div class="col-md-2">
                            <input id="CodigoClienteSellado" disabled />
                        </div>
                        <div class="col-md-1">
                            Nit Cliente:
                        </div>
                        <div class="col-md-2">
                            <input id="NitClienteSellado" disabled />
                        </div>
                    </div><br />
                    <div>
                        <div class="col-md-1">
                            Brand:
                        </div>
                        <div class="col-md-2">
                            <input id="BrandSellado" disabled/>
                        </div>
                        <div class="col-md-1">
                            PONUM:
                        </div>
                        <div class="col-md-2">
                            <input id="PonumSellado" />
                        </div>
                        <div class="col-md-1">
                            Slit date:
                        </div>
                        <div class="col-md-2">
                            <input id="SlitPackDateSellado" disabled />
                        </div>
                    </div><br /><br />
                    <div class="row text-center margintop10">
                        <button type="button" class="btn btn-primary" onclick="ImprimirSellado()" title="Imprimir">
                            IMPRIMIR SELLADO
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Modal para mensajes especiales-->
    <div class="modal fade" id="ModalMensajes" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3C8DBC;">
                    <h4 class="modal-title" style="font-weight: bold; color: white;">Mensaje</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <a style="font-size: 20px; color: black; font-weight: bold;" id="TxtModalMensaje">....</a>
                    </div>
                    <div class="row center-block text-center">
                        <button type="button" class="btn btn-warning btn-lg" onclick="CerrarModalMensaje()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Modal para confirmar Orden terminada-->
    <div class="modal fade" id="ModalOrdenTerminada" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #3C8DBC;">
                    <h4 class="modal-title" style="font-weight: bold; color: white;">Orden Terminada</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <a style="font-size: 20px; color: black; font-weight: bold;" id="TxtModalMensaje">Esta orden ya se ha terminado de pesar, ¿Está seguro que desea agregar más pesos?</a>
                    </div>
                    <div class="row center-block text-center">
                        <button type="button" class="btn btn-warning btn-lg" onclick="ImprimirEtiqueta()">Aceptar</button>
                        <button type="button" class="btn btn-warning btn-lg" onclick="$('#ModalOrdenTerminada').modal('hide');">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    timeCapture = @ViewData["timeCapture"];
</script>
@Styles.Render("~/Content/ingresoproddesp")
@Scripts.Render("~/bundles/ingresoproddesp")
<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
