﻿
@{
    ViewBag.Title = "Prueba";
}

<h2>Prueba</h2>

<div class="row">
    <div id="grid"></div>
</div>
<div class="row">
    <form name="timeform">
        Time: 
        <input type=text name="timetextarea" value="00:00" size="10" style="font-size:20px"> 
        Lap: 
        <input type=text name="laptime" size="10" style="font-size:20px"><br>
        <br>
        <input type=button name="start" value="Start/Lap" onclick="sw_start()"> 
        <input type=button name="stop" value="Stop" onclick="Stop()"> 
        <input type=button name="reset" value="Reset" onclick="Reset()">
    </form>
</div>
<script type="text/javascript">
    var tmstart = null;
    var dataSource = new kendo.data.DataSource({
        data: [
          { id:1, name: "Jane Doe", age: 30 },
          { id:2, name: "John Doe", age: 33 }
        ]});
    $("#grid").kendoGrid({
        dataSource: dataSource,
        columns: [
            { field: "id", title: "Id" },
            { field: "name", title: "Name" },
            { field: "age", title: "Age" },
            { template: "<span >00:00</span>", title: "Template" }
            ]
    });

    function cronometro() {
        return "algo";
    }

    var timercount = 0;
    var timestart = null;

    function showtimer() {
        if (timercount) {
            clearTimeout(timercount);
            clockID = 0;
        }
        if (!timestart) {
            timestart = new Date();
        }
        var timeend = new Date();
        var timedifference = timeend.getTime() - timestart.getTime();
        timeend.setTime(timedifference);
        var minutes_passed = timeend.getMinutes();
        if (minutes_passed < 10) {
            minutes_passed = "0" + minutes_passed;
        }
        var seconds_passed = timeend.getSeconds();
        if (seconds_passed < 10) {
            seconds_passed = "0" + seconds_passed;
        }
        document.timeform.timetextarea.value = minutes_passed + ":" + seconds_passed;
        timercount = setTimeout("showtimer()", 1000);
    }

    function sw_start() {
        if (!timercount) {
            timestart = new Date();
            document.timeform.timetextarea.value = "00:00";
            document.timeform.laptime.value = "";
            timercount = setTimeout("showtimer()", 1000);
        }
        else {
            var timeend = new Date();
            var timedifference = timeend.getTime() - timestart.getTime();
            timeend.setTime(timedifference);
            var minutes_passed = timeend.getMinutes();
            if (minutes_passed < 10) {
                minutes_passed = "0" + minutes_passed;
            }
            var seconds_passed = timeend.getSeconds();
            if (seconds_passed < 10) {
                seconds_passed = "0" + seconds_passed;
            }
            var milliseconds_passed = timeend.getMilliseconds();
            if (milliseconds_passed < 10) {
                milliseconds_passed = "00" + milliseconds_passed;
            }
            else if (milliseconds_passed < 100) {
                milliseconds_passed = "0" + milliseconds_passed;
            }
            document.timeform.laptime.value = minutes_passed + ":" + seconds_passed + "." + milliseconds_passed;
        }
    }

    function Stop() {
        if (timercount) {
            clearTimeout(timercount);
            timercount = 0;
            var timeend = new Date();
            var timedifference = timeend.getTime() - timestart.getTime();
            timeend.setTime(timedifference);
            var minutes_passed = timeend.getMinutes();
            if (minutes_passed < 10) {
                minutes_passed = "0" + minutes_passed;
            }
            var seconds_passed = timeend.getSeconds();
            if (seconds_passed < 10) {
                seconds_passed = "0" + seconds_passed;
            }
            var milliseconds_passed = timeend.getMilliseconds();
            if (milliseconds_passed < 10) {
                milliseconds_passed = "00" + milliseconds_passed;
            }
            else if (milliseconds_passed < 100) {
                milliseconds_passed = "0" + milliseconds_passed;
            }
            document.timeform.timetextarea.value = minutes_passed + ":" + seconds_passed + "." + milliseconds_passed;
        }
        timestart = null;
    }

    function Reset() {
        timestart = null;
        document.timeform.timetextarea.value = "00:00";
        document.timeform.laptime.value = "";
    }
</script>