﻿.row {
    margin-top: 7px;
}

.k-autocomplete, .k-combobox, .k-datepicker, .k-timepicker, .k-datetimepicker, .k-colorpicker, .k-numerictextbox, .k-dropdown, .k-selectbox, .k-textbox {
    width: 100%;
}

.box-title {
    width: 100%;
    text-align: center;
}

.content {
    margin: 0px;
    padding: 0px;
}

.paddingtop5 {
    padding-top: 5px;
}

.paddingtop0 {
    padding-top: 0px;
}

.buttoncolumn {
    height: 25px;
    width: 25px;
    margin-top: 0px;
    padding: 0px;
}

.displaynone{
    display:none;
}
